body {
 background-color:#bf9de3;
 user-select:none;
}

.container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
  background-color: grey;
  padding: 4px;
  border-radius: 5px;
  max-width:360;
  font-family: Tahoma;
}
.item{
  background-color:#e3d5e8;
  padding:20px;
  color:black;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  font-weight: bold;
}
 form {
  width: 100%;
}
input {
  width: 100%;
  height: 60px;
  border:none;
  font-size: 30px;
  outline: none;
  text-align:right;
  padding:0;
}
.userInput{
  grid-column: 1/-1;
}
.clean{
  grid-column:1/3;
  background-color:#bc80d1;
}
.back{
  grid-column:3/-1
}
.equals{
  grid-row:6/8;
  grid-column:4;
}
.zero{
  grid-column: 1/3;
}